<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'creatify_app/style.css' %}">
    <script src="https://kit.fontawesome.com/06d2dc652b.js" crossorigin="anonymous"></script>
    {% block styles %}{% endblock %}
  </head>
  <body> 
    {% if showbanner %}
    <header>
      <nav>
        <ul>
          {% comment %} <li><a id="bottone1" href="{% url 'login' %}"><i class="fas fa-angle-right"></i> Login</a></li>
          <li><a id="bottone1" href="{% url 'earthView' %}"><i class="fas fa-cloud"></i> Weather</a></li>
          <li><a id="bottone1" href="{% url 'accountHome' %}"><i class="fa-solid fa-house"></i> Account</a></li>
          <li><a id="bottone1" href="{% url 'mars' %}"><i class="fas fa-ringed-planet"></i> Mars</a></li> {% endcomment %}
        </ul>
      </nav>
    </header>
    {%endif%}

    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
