<!DOCTYPE html>
<html lang = "en">
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'creatify_app/style.css' %}">
  <title>Creatify</title>
</head>
<body>
  <h2>Genere Selector</h2>
  <div id="genre-list"></div>
  <table>
    <tr>
      {% for genre in genres %}
        <td><button class="unclicked" onclick='toggleButtonClass(this)'>{{ genre }}</button></td>
        {% if forloop.counter|divisibleby:13 %}
          </tr><tr>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
  
	<h2>Danceability Rating Slider</h2>
    <br>
    <br>
    <div class="toggle-border">
        <input id="toggleButton" type="checkbox">
        <label for="toggleButton">
          <div class="handle"></div>
        </label>
      </div>
    <br>
    <br>
    <br>
    <br>
    <div class="slider-wrapper disabled">
		<div class="slider-titles">
			<span class="low">Low</span>
			<span class="medium">Medium</span>
			<span class="high">High</span>
		</div>
		<input type="range" min="1" max="3" value="2" class="slider" id="danceabilitySlider">
        <div id="undertext">These songs will have the average danceability rating in this genre. Removes all outliers</div>
	</div>



	<button onclick="saveSliderValue()">Submit</button>
  <script src="{% static 'creatify_app/main.js' %}"></script>

</body>

</html>