{% extends 'creatify_app/base.html' %}
{% block title %}Creatify{% endblock %}

{% block styles %}
  {% csrf_token %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'creatify_app/main_page.css' %}">
  {% endblock %}

{% block content %}
<button type="button" class="collapsible"><h2>Genere Selector</h2></button>
<div class="content">
  <input type="text" id="genre-filter" placeholder="Enter a genre">
  <table id ="genre-table">
    <tr>
      {% for genre in genres %}
        <td><button class="unclicked" data-genre="{{ genre }}" onclick='toggleButtonClass(this)'>{{ genre }}</button></td>
        {% if forloop.counter|divisibleby:13 %}
          </tr><tr>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
</div>
{% for slider in sliders %}
    <h3>{{slider}}</h3>
        <div class="tooltip"><input type="checkbox" class="custom-checkbox" id="{{slider}}" checked> 
          <span class="tooltiptext">Enable/Disable {{slider}}</span>
        </div>
        <div class='subtext'>Learn More</div><br>
        <div class="slider-wrapper" id="slider-{{slider}}" >
            <div class="labels">
              <span class="low" id="low-{{slider}}">Low</span>
              <span class="medium" id="medium-{{slider}}">Medium</span>
              <span class="high" id="high-{{slider}}">High</span>
            </div>
            <input type="range" min="1" max="3" value="2" class="slider" id="slider-input-{{slider}}">
            <div class="slider-dots">
                <span id="1 {{slider}}" class="dot"></span>
                <span id="2 {{slider}}" class="dot"></span>
                <span id="3 {{slider}}" class="dot"></span>
            </div>
        </div>
{% endfor %}
<div id="center-container"><button id="generate_bt">Generate Playlist</button></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'creatify_app/main_page.js' %}"></script>
{% endblock %}