{% extends 'creatify_app/base.html' %}
{% block title %}Creatify{% endblock %}

{% block styles %}
  {% csrf_token %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'creatify_app/main_page.css' %}">
  {% endblock %}

{% block content %}
<h1>Creatify</h1>
<h4>Recommend Less. Discover More.</h4>

<h2>1. Select Genres for Your Playlist</h2>
    <!-- 
        Search button from: https://uiverse.io/joe-watson-sbf/shy-snake-4

    -->
    <div class="search">
        <!--<input type="text" id="genre-filter" class="search__input" placeholder="Search genres...">-->
        <input type="text" id="genre-filter" placeholder="Enter a genre">
    </div>
    <br>
<div id="genre-table-container">
    <table id="genre-table">
      <tr>
        {% for genre in genres %}
        <td><button class="btn" data-genre="{{ genre }}">{{ genre }}</button></td>
        {% endfor %}
      </tr>
    </table>
  </div>
  
  <br>
<button id="new-btn" class="cta">
    <span>Collapse unused genres</span>
    <svg viewBox="0 0 10 13" height="20px" width="10px">
    <path d="M5,1 L5,20"></path>
    <polyline points="1 12 5 1 9 12"></polyline>
    </svg>
</button>
<br>
<h2>2. Tune the Audio Features</h2>
<h5>Each feature comes with a personalized song telling you what high and low values of that are feature are<br>
    Click on the feature to learn more about what it is<br>
Choose to either enable this feature on your custom playlist or disable and it will not be considered</h5>


{% for slider in sliders %}
    <h3 class="slider">{{slider.name}}</h3>

     <!-- New Toggle Button -->
     <div class = "center">
     <label class="switch">
        <input type="checkbox" checked id="{{slider.name}}">
        <span class="toggle-slider"></span>
        <span class="toggle-text on">ENABLED</span>
        <span class="toggle-text off">DISABLED</span>
      </label>
    </div>
        <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{slider.track_low}}?utm_source=generator&theme=0"  height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->
          <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{slider.track_high}}?utm_source=generator&theme=0"  height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->
        <br>
    <div class="slider-description" id="desc-{{slider.name}}">{{slider.desc}}</div>
        {% comment %} <div class='subtext'>Learn More</div>{% endcomment %}<br>
        <div class="slider-wrapper" id="slider-{{slider.name}}" >
            <div class="labels">
              <span class="low" id="low-{{slider.name}}">{{slider.low}}</span>
              <span class="medium" id="medium-{{slider.name}}">{{slider.medium}}</span>
              <span class="high" id="high-{{slider.name}}">{{slider.high}}</span>
            </div>
            <div class = "center">
                <input type="range" min="0" max="100" value="50" class="slider" id="slider-input-{{slider.name}}"/>
            </div>
                       
        </div>
{% endfor %}
<h2>What's the minimum number of songs?</h2>
<input placeholder="Number of Songs" type='text' pattern="[5-9]|[1-4][0-9]|50" onkeypress="return isNumeric(event)" ></input>
<div class = "center">
    <button data-text="Awesome" class="gen_button">
      <span class="actual-text">&nbsp;GENERATE PLAYLIST&nbsp;</span>
      <span class="gen_hover-text" aria-hidden="true">&nbsp;GENERATE PLAYLIST&nbsp;</span>
  </button>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'creatify_app/main_page.js' %}"></script>
{% endblock %}