#genre-filter{
  margin: 10px;
  background-color: #333;
  color:#aaa;
  padding: 10px;
  font-size: large;
}
td{
 text-align: center;
}
.unclicked{
 background-color: #1db954;
 padding: 20px 10px;
 font-size: 16px;
 color: #eee;
 border-radius: 15px;
 letter-spacing: 1px;
 font-weight: 700;
 text-transform: uppercase;
 opacity: .8;
 text-align: center;
}
button:hover{
 background-color: #9db9a7;
}
.clicked{
 background-color: #9db9a7;
 padding: 20px 15px;
 font-size: 17px;
 color: #eee;
 border-radius: 10px;
 letter-spacing: 2px;
 font-weight: 700;
 text-transform: uppercase;
 opacity: 1;
 text-align: center;
}
.collapsible {
 background-color: #111;
 color: #aaa;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
 font-size: 15px;
} 
.collapsible:hover {
    background-color: #111;
} 
.content {
 padding: 0 18px;
 background-color: #111;
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.25s ease-out;
}
h3 {
 font-size: xx-large;
 color: #5ecf62;
 display: inline-block;
 cursor: help;
 margin-left: 10px;
 user-select: none;
}
.subtext{
  font-size: large;
  color: #5ecf62;
  display: inline-block;
  cursor:default;
}
.slider-wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.slider-wrapper > * {
 margin-bottom: 10px;
}
.slider-wrapper > .slider {
 width: 100%;
 height: 20px;
 border-radius: 10px;
 background-color: #aaa;
 appearance: none;
 outline: none;
}
.slider-wrapper > .slider::-webkit-slider-thumb {
 appearance: none;
 height: 30px;
 width: 30px;
 border-radius: 50%;
 background-color: #4CAF50;
 cursor: pointer;
 position: relative;
 z-index: 1;
}
.slider-wrapper > .slider::-moz-range-thumb {
 appearance: none;
 height: 30px;
 width: 30px;
 border-radius: 50%;
 background-color: #4CAF50;
 cursor: pointer;
 position: relative;
 z-index: 1;
}
.slider-wrapper > .slider::-moz-range-thumb:hover{
 background-color: #92d194;
}
.slider-wrapper > .slider::-webkit-slider-thumb:hover{
 background-color: #92d194;
}
.slider-wrapper > .labels {
 display: flex;
 justify-content: space-between;
 width: 100%;
 user-select: none;
}
.low {
 color: #408F43;
 opacity: .4;
 cursor:default;
}
.medium {
 color: #6ADE70;
 opacity: .8;
 cursor:default;
 font-weight: 700;
}
.high {
 color: #63DB67;
 opacity: .4;
 cursor:default;
}
.slider-dots {
 display: flex;
 justify-content: space-between;
 width: 100%;
 height: 20px;
 margin-top: -30px;
 pointer-events: none;
}
.slider-dots .dot {
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background-color: #888;
 pointer-events: none;
}
.custom-checkbox {
 appearance: none;
 background-color: #aaa; /* set initial background color to gray */
 border-radius: 15px;
 width: 15px;
 height: 15px;
 margin-left: 1px;
 margin-right: 8px;
 margin-bottom: -1px;
}
.tooltip {
 position: relative;
 display: inline-block;
}
.tooltip .tooltiptext {
 font-size: small;
 visibility: hidden;
 background-color: black;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 5px 9px;
 position: absolute;
 z-index: 1;
 bottom: 100%;
 left: 50%;
 margin-left: -60px;
 user-select: none;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: default;
}
.custom-checkbox:checked {
 background-color: lime; /* change background color of adjacent span element when checkbox is checked */
}
.custom-checkbox {
 color: #000; /* set color of adjacent span element */
 font-size: 16px;
}
#center-container {
 display: flex;
 justify-content: center;
 align-items: center;
}
.greyed-out{
 opacity: .5;
 pointer-events: none;
}
.slider-description{
 color: #aaa;
 font-size: 15px;
 margin-left: 25px;
 cursor: default;
 margin-top: -27px;
 font-weight: 500;
 user-select: none;
}
#generate_bt{
 border: #000;
 background-color: #5ecf62;
 opacity: .7;
 color:white;
 padding: 20px;
 margin-top: 30px;
 cursor: pointer;
 border-radius: 40px;
 transition: 0.3s;
 user-select: none;
}
#generate_bt:hover{
 opacity: 1;
 border-radius: 5px;
 background-color: #36c73b;
}
.bottom{
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.icon{
	height: 26px;
	width: 26px;
}
.icon2{
	height: 24px;
	width: 24px;
  margin-left: 10px;
}