@font-face {
  font-family: Notable;
  src: url(Notable-Regular.ttf);
}
@font-face {
  font-family: Secondary;
  src: url(Recursive-VariableFont.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(Montserrat-VariableFont_wght.ttf);
}



/* Basic Words */
h1 {
  font-family: Notable;
  color: #363537;
  text-align: center;
  font-size: 85px;
  user-select: none;
  margin-block-start: -10px;
  margin-block-end: -10px;
}
h4 {
  font-family: Secondary;
  color: white;
  text-align: center;
  font-size: 25px;
  user-select: none;
}
h2 {
  font-family: Secondary;
  color: white;
  user-select: none;
  margin-block-end: 0px;
  font-size: 30px;
}
h5 {
  margin-top: 5px;
  margin-left: 15px;
  font-family: Montserrat;
  line-height: 1.5em;
  font-weight: 300;
  color: white;
  user-select: none;
  margin-block-end: 0px;
  font-size: 18px;
}

td{
 text-align: center;
 padding: 0px;
 margin: 0px;
}

.unclicked{
 background-color: #444554;
 padding: 20px 10px;
 font-size: 14px;
 color: whitesmoke;
 border-radius: 15px;
 letter-spacing: 1px;
 font-weight: 700;
 text-transform: uppercase;
 opacity: .8;
 text-align: center;
}

/*.clicked{
 background-color: #00A97F;
 padding: 20px 15px;
 font-size: 14px;
 color: whitesmoke;
 border-radius: 10px;
 letter-spacing: 1px;
 font-weight: 700;
 text-transform: uppercase;
 opacity: 1;
 text-align: center;
}*/
.collapsible {
  color: #aaa;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible:hover {
  color: #6A9D2A;
}
.content {
  padding: 0px 10px 10px 15px;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}
h3 {
 font-size: 40px;
 color: white;
 text-align: center;
 cursor: help;
 user-select: none;
 font-family: Notable;
 margin-block-end: 5px;
}
.subtext{
  font-size: large;
  color: #6A9D2A;
  display: inline-block;
  cursor:default;
}
.labels{
  position: relative; /* set the container to relative positioning */
  /*overflow: hidden;  clears float */
  text-align: center; /* center text within the div */
  font-size: 20px;
  user-select: none;
}
.low {
  position: absolute; /* set the left-aligned span to absolute positioning */
 left: 0; 
 color: #363537;
 opacity: .6;
 cursor:default;
 font-family: Secondary;
}
.medium {
  display: inline-block; /* display the center-aligned span as an inline block element */
  left: 50%; /* position the center-aligned span in the center of the container */
  /*transform: translateX(-50%); /* move the center-aligned span to the left by half of its own width */
 color: #363537;
 opacity: .8;
 cursor:default;
 font-weight: 700;
 /*margin-bottom: -20px;
 margin-left: 45%;*/
 font-family: Secondary;
}
.high {
  position: absolute; /* set the right-aligned span to absolute positioning */
  right: 0;
 color: #363537;
 opacity: .4;
 cursor:default;
 font-family: Secondary;
}
.custom-checkbox {
 appearance: none;
 background-color: #aaa; /* set initial background color to gray */
 border-radius: 15px;
 width: 15px;
 height: 15px;
 margin-left: 1px;
 margin-right: 8px;
 margin-bottom: -1px;
}
.tooltip {
 position: relative;
 display: inline-block;
}
.tooltip .tooltiptext {
 font-size: small;
 visibility: hidden;
 background-color: #545454;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 5px 9px;
 position: absolute;
 z-index: 1;
 bottom: 100%;
 left: 50%;
 margin-left: -60px;
 user-select: none;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: default;
}
#center-container {
 display: flex;
 justify-content: center;
 align-items: center;
}
.greyed-out{
 opacity: .5;
 pointer-events: none;
}
.slider-description{
 color: #011a01;
 font-size: 15px;
 margin-left: 25px;
 cursor: default;
 font-weight: 500;
 user-select: none;
}

#generate_bt{
 border: #000;
 background-color: #435b24;
 font-family: Secondary;
 opacity: .7;
 color:white;
 padding: 20px;
 margin-top: 50px;
 cursor: pointer;
 border-radius: 40px;
 transition: 0.3s;
 user-select: none;
}
#generate_bt:hover{
 opacity: 1;
 border-radius: 5px;
 background-color: #435b24;
}
.bottom{
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.icon{
	height: 26px;
	width: 26px;
}
.icon2{
	height: 24px;
	width: 24px;
  margin-left: 10px;
}

.center {
  text-align: center;
}

/* TOGGLE BUTTON 

Source: https://alvarotrigo.com/blog/toggle-switch-css/ 

*/
/* The switch - the box around the  */
.switch {
  font-size: 12px;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 8em;
  height: 2em;
  overflow: hidden;
  margin-block-end: -20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(154, 154, 154);
  color: white;
  transition: .4s;
  border-radius: 30px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  border: 1px solid #333;
  left: 0.4em;
  bottom: 0.2em;
  background-color: white;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: #435b24;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #435b24;
}

input:checked + .toggle-slider:before {
  transform: translateX(5.5em);
}

.switch .toggle-text {
  position: absolute;
  top: 50%;
  pointer-events: none;
  text-transform: uppercase;
  transform: translateY(-50%);
  transition: .4s;
}

.switch .toggle-text.on {
  left: .8rem;
  color: rgb(255, 255, 255);
  transform: translateX(-6rem) translateY(-50%);
}

.switch .toggle-text.off {
  color: rgb(255, 255, 255);
  right: .8rem;
}

input:checked ~ .toggle-text.off {
  transform: translateX(6rem) translateY(-50%);
}

input:checked ~ .toggle-text.on {
  transform: translateX(0) translateY(-50%);
}

/* SEARCH BAR */
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
  position: relative;
}


/*

CUSTOM SLIDER 

Source: https://codepen.io/thehonestape/pen/DRpEGX

*/

input[type="range"] { 
  text-align: center;
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px; 
}

::-webkit-slider-runnable-track {
  background: #ddd;
  
}/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread 
 *    of the width of the input.
 */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* 1 */
  height: 40px;
  background: #fff;
  box-shadow: -800px 0 0 800px #435b24; /* 2 */
  border: 2px solid #999; /* 1 */
  border-radius: 3px; 
}

::-moz-range-track {
  height: 40px;
  background: #ddd;
}::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 200px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -200px 0 0 200px #4e731e;
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background: #4e731e;
}

::-ms-thumb { 
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 200px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
}
::-ms-tooltip { 
  display: none;
}

/*
CUSTOM BUTTON - for generes
*/
#genre-table-container {
  margin-top: 0px;
  max-width: 100%;
  overflow-x: auto;
}

#genre-table {
  margin: 0 auto;
  white-space: nowrap;
}

#genre-table td {
  display: inline-block;
  white-space: normal;
}

.btn {
  --color: #4e731e;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: Secondary;
 /* font-family: 'Roboto', 'Segoe UI', sans-serif;*/
  text-transform: uppercase;
  color: var(--color);
  margin: 0;
  margin-left: 0px;
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
  background-color: #4e731e;
  color: white;
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
  background-color: #4e731e;
  color: white;
 }
 
 .btn:hover {
  color: var(--color2);
  background-color: #4e731e;
  color: white;
 }
 
 .active {
  /*filter: brightness(.7);*/
  transform: scale(.98);
  --color: #ffffff;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: #435b24;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }

 /* 
 COLLAPSE BUTTON
 */

 .cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #b1dae7;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 .cta:active {
  transform: scale(0.95);
 }
 
 .cta_active {
  transform: scale(0.95);
 }

 .button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}
/* button styling */
.gen_button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.7);
  --animation-color: #FAF3DD;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: Notable;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  background-color: rgb(67, 91, 36);
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.gen_hover-text {
  background-color: rgba(67, 91, 36,0.5);
  --animation-color: #FAF3DD;
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: rgb(200, 213, 185);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid rgb(200, 213, 185);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px rgb(200, 213, 185);

}
/* hover */
.gen_button:hover .gen_hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}