td{
    text-align: center;
}
.unclicked{
 background-color: #1db954;
 padding: 20px 10px;
 border: none;
 font-size: 16px;
 color: #fff;
 border-radius: 7px;
 letter-spacing: 1px;
 font-weight: 700;
 text-transform: uppercase;
 text-align: center;
}
button:hover{
    background-color: #9db9a7;
}

.clicked{
 background-color: #9db9a7;
 padding: 20px 20px;
 border: none;
 font-size: 17px;
 color: #fff;
 border-radius: 7px;
 letter-spacing: 4px;
 font-weight: 700;
 text-transform: uppercase;
 text-align: center;
}
body{
 background-color: #000;
 color: white;
}